extends layout

block content
  .container
    .row
      .col-md-12.text-center
        h2 #{title}

    p I live in sunny San Diego, CA
    p Here are some ways to reach me, or get to know me better.
    strong Email:&nbsp;
    a(href='mailto:sjirjis@gmail.com') sjirjis@gmail.com
    br
    strong linkedIn:&nbsp;
    a(href='https://www.linkedin.com/in/stevenjirjis/' target='_blank') https://www.linkedin.com/in/stevenjirjis/
    br
    strong Github:&nbsp;
    a(href='https://github.com/sjirjis' target='_blank') https://github.com/sjirjis
    br
    strong Stack Overflow:&nbsp;
    a(href='https://stackoverflow.com/users/4329970/steven-jirjis' target='_blank') https://stackoverflow.com/users/4329970/steven-jirjis
    br
