extends layout

block content
  .container
    .row
      .col-md-12.text-center
        h2 #{title}

  address
    | I live in sunny San Diego, CA
    br
    br
    strong Email:
    a(href='mailto:sjirjis@gmail.com') sjirjis@gmail.com
    br
    strong linkedIn:
    a(href='https://www.linkedin.com/in/stevenjirjis/' target='_blank') https://www.linkedin.com/in/stevenjirjis/
    br
    strong Github:
    a(href='https://github.com/sjirjis' target='_blank') https://github.com/sjirjis
    br
    strong Stack Overflow:
    a(href='https://stackoverflow.com/users/4329970/steven-jirjis' target='_blank') https://stackoverflow.com/users/4329970/steven-jirjis
