extends layout

block content
  .jumbotron
    h1 Hello, I'm Steven.
    p.lead I am an experienced SQL Developer with solid knowledge of Full Stack Web Development, graduate of a Web Development Boot Camp at UCSD Extension, and Web Development Teaching Assistant.
    p I love learning, working with an inspiring team, and the Oxford comma.
    p
      a.btn.btn-primary.btn-large(href='/portfolio') my portfolio &raquo;

  .container
    .row
      .col-md-12.text-center
        h2#coreValues core values
        p Where I go, to know where to go
        br

  .container
    .row
      .col-sm-6.col-md-4
        img.core-value-images(src="/images/always-be-learning.jpg")
        h3.text-center always be learning
        p Learning is exercise for the mind and should be continuous throughout one's life. Web development is limitless in what can be learned and is constantly emerging.

      .col-sm-6.col-md-4
        img.core-value-images(src="/images/There-is-no-greater-intelligence-than-kindness-and-empathy.jpeg")
        h3.text-center be kind and empathetic
        p Putting others first and understanding why people behave the way they do, makes for a good person (and a good UX designer).

      .col-sm-12.col-md-4
        img.core-value-images(src="/images/How-to-Get-Stuff-Done-Now.jpg")
        h3.text-center get stuff done
        p We're all busy. Those who GSD are not busy, they're productive. Work hard, very hard, stay focused, and never stop improving.
