extends layout

block content

	.container
		.row
			.col-md-12.text-center
				h2 under construction

		.row
			div.col-md-4.col-sm-6.col-xs-12.offset-md-4.appTile-container
				div.appTile
					div.appTile-image-container
						img.appTile-image(src='./images/family-guy.png')

					div.appTile-body
						h3.appTile-title.text-center Family Guy Trivia Game
						button(type="button", onclick="window.open('https://family-guy-trivia.herokuapp.com/', '_blank');").btn.btn-success.btn-block Play!

					div.appTile-footer
						span.label.label-primary.appTile-footer-label jQuery
						span.label.label-primary.appTile-footer-label jQuery-UI
						span.label.label-primary.appTile-footer-label JavaScript
						span.label.label-primary.appTile-footer-label CSS
						span.label.label-primary.appTile-footer-label HTML
						span.label.label-primary.appTile-footer-label Bootstrap

			div.col-md-4.col-sm-6.col-xs-12.appTile-container
				div.appTile
					div.appTile-image-container
						img.appTile-image(src='./images/family-guy.png')

					div.appTile-body
						h3.appTile-title.text-center Family Guy Trivia Game
						button(type="button", onclick="window.open('https://family-guy-trivia.herokuapp.com/', '_blank');").btn.btn-success.btn-block Play!

					div.appTile-footer
						span.label.label-primary.appTile-footer-label jQuery
						span.label.label-primary.appTile-footer-label jQuery-UI
						span.label.label-primary.appTile-footer-label JavaScript
						span.label.label-primary.appTile-footer-label CSS
						span.label.label-primary.appTile-footer-label HTML
						span.label.label-primary.appTile-footer-label Bootstrap

			div.col-md-4.col-sm-6.col-xs-12.appTile-container
				div.appTile
					div.appTile-image-container
						img.appTile-image(src='./images/family-guy.png')

					div.appTile-body
						h3.appTile-title.text-center Family Guy Trivia Game
						button(type="button", onclick="window.open('https://family-guy-trivia.herokuapp.com/', '_blank');").btn.btn-success.btn-block Play!

					div.appTile-footer
						span.label.label-primary.appTile-footer-label jQuery
						span.label.label-primary.appTile-footer-label jQuery-UI
						span.label.label-primary.appTile-footer-label JavaScript
						span.label.label-primary.appTile-footer-label CSS
						span.label.label-primary.appTile-footer-label HTML
						span.label.label-primary.appTile-footer-label Bootstrap

			div.col-md-4.col-sm-6.col-xs-12.appTile-container
				div.appTile
					div.appTile-image-container
						img.appTile-image(src='./images/family-guy.png')

					div.appTile-body
						h3.appTile-title.text-center Family Guy Trivia Game
						button(type="button", onclick="window.open('https://family-guy-trivia.herokuapp.com/', '_blank');").btn.btn-success.btn-block Play!

					div.appTile-footer
						span.label.label-primary.appTile-footer-label jQuery
						span.label.label-primary.appTile-footer-label jQuery-UI
						span.label.label-primary.appTile-footer-label JavaScript
						span.label.label-primary.appTile-footer-label CSS
						span.label.label-primary.appTile-footer-label HTML
						span.label.label-primary.appTile-footer-label Bootstrap

			div.col-md-4.col-sm-6.col-xs-12.appTile-container
				div.appTile
					div.appTile-image-container
						img.appTile-image(src='./images/family-guy.png')

					div.appTile-body
						h3.appTile-title.text-center Family Guy Trivia Game
						button(type="button", onclick="window.open('https://family-guy-trivia.herokuapp.com/', '_blank');").btn.btn-success.btn-block Play!

					div.appTile-footer
						span.label.label-primary.appTile-footer-label jQuery
						span.label.label-primary.appTile-footer-label jQuery-UI
						span.label.label-primary.appTile-footer-label JavaScript
						span.label.label-primary.appTile-footer-label CSS
						span.label.label-primary.appTile-footer-label HTML
						span.label.label-primary.appTile-footer-label Bootstrap

			div.col-md-4.col-sm-6.col-xs-12.appTile-container
				div.appTile
					div.appTile-image-container
						img.appTile-image(src='./images/family-guy.png')

					div.appTile-body
						h3.appTile-title.text-center Family Guy Trivia Game
						button(type="button", onclick="window.open('https://family-guy-trivia.herokuapp.com/', '_blank');").btn.btn-success.btn-block Play!

					div.appTile-footer
						span.label.label-primary.appTile-footer-label jQuery
						span.label.label-primary.appTile-footer-label jQuery-UI
						span.label.label-primary.appTile-footer-label JavaScript
						span.label.label-primary.appTile-footer-label CSS
						span.label.label-primary.appTile-footer-label HTML
						span.label.label-primary.appTile-footer-label Bootstrap

			div.col-md-4.col-sm-6.col-xs-12.appTile-container
				div.appTile
					div.appTile-image-container
						img.appTile-image(src='./images/family-guy.png')

					div.appTile-body
						h3.appTile-title.text-center Family Guy Trivia Game
						button(type="button", onclick="window.open('https://family-guy-trivia.herokuapp.com/', '_blank');").btn.btn-success.btn-block Play!

					div.appTile-footer
						span.label.label-primary.appTile-footer-label jQuery
						span.label.label-primary.appTile-footer-label jQuery-UI
						span.label.label-primary.appTile-footer-label JavaScript
						span.label.label-primary.appTile-footer-label CSS
						span.label.label-primary.appTile-footer-label HTML
						span.label.label-primary.appTile-footer-label Bootstrap

			div.col-md-4.col-sm-6.col-xs-12.appTile-container
				div.appTile
					div.appTile-image-container
						img.appTile-image(src='./images/family-guy.png')

					div.appTile-body
						h3.appTile-title.text-center Family Guy Trivia Game
						button(type="button", onclick="window.open('https://family-guy-trivia.herokuapp.com/', '_blank');").btn.btn-success.btn-block Play!

					div.appTile-footer
						span.label.label-primary.appTile-footer-label jQuery
						span.label.label-primary.appTile-footer-label jQuery-UI
						span.label.label-primary.appTile-footer-label JavaScript
						span.label.label-primary.appTile-footer-label CSS
						span.label.label-primary.appTile-footer-label HTML
						span.label.label-primary.appTile-footer-label Bootstrap

			div.col-md-4.col-sm-6.col-xs-12.appTile-container
				div.appTile
					div.appTile-image-container
						img.appTile-image(src='./images/family-guy.png')

					div.appTile-body
						h3.appTile-title.text-center Family Guy Trivia Game
						button(type="button", onclick="window.open('https://family-guy-trivia.herokuapp.com/', '_blank');").btn.btn-success.btn-block Play!

					div.appTile-footer
						span.label.label-primary.appTile-footer-label jQuery
						span.label.label-primary.appTile-footer-label jQuery-UI
						span.label.label-primary.appTile-footer-label JavaScript
						span.label.label-primary.appTile-footer-label CSS
						span.label.label-primary.appTile-footer-label HTML
						span.label.label-primary.appTile-footer-label Bootstrap
