extends layout

block content

	.container
		.row
			.col-md-12.text-center
				h2 under construction

	.container.tileContainer
		.row
			div.col-lg-3.col-md-4.col-sm-6.col-xs-12.appTile-container
				div.appTile
					p Have fun with a Family Guy Trivia Game: https://family-guy-trivia.herokuapp.com/
