extends layout

block content

	.container
		.row
			.col-md-12.text-center
				h2 more apps on the way soon

		.row
			div.col-md-4.col-sm-6.col-xs-12.appTile-container
				div.appTile
					div.appTile-image-container
						img.appTile-image(src='./images/family-guy.png')

					div.appTile-body
						h4.appTile-title.text-center Test Your Family Guy Knowledge
						button(type="button", onclick="window.open('https://family-guy-trivia.herokuapp.com/', '_blank');").btn.btn-success.btn-block Launch App

					div.appTile-footer
						span.label.label-primary.appTile-footer-label jQuery
						span.label.label-primary.appTile-footer-label jQuery-UI
						span.label.label-primary.appTile-footer-label JavaScript
						span.label.label-primary.appTile-footer-label Bootstrap
						span.label.label-primary.appTile-footer-label CSS
						span.label.label-primary.appTile-footer-label HTML

			div.col-md-4.col-sm-6.col-xs-12.appTile-container
				div.appTile
					div.appTile-image-container
						img.appTile-image(src='./images/nyt-search.png')

					div.appTile-body
						h4.appTile-title.text-center Just Articles, no Distractions
						button(type="button", onclick="window.open('https://new-york-times-search-jirjis.herokuapp.com/', '_blank');").btn.btn-success.btn-block Launch App

					div.appTile-footer
						span.label.label-primary.appTile-footer-label API
						span.label.label-primary.appTile-footer-label AJAX
						span.label.label-primary.appTile-footer-label jQuery
						span.label.label-primary.appTile-footer-label JavaScript
						span.label.label-primary.appTile-footer-label Bootstrap
						span.label.label-primary.appTile-footer-label CSS
						span.label.label-primary.appTile-footer-label HTML

			h4.text-center this app is under development
			div.col-md-4.col-sm-6.col-xs-12.appTile-container
				div.appTile
					div.appTile-image-container
						img.appTile-image(src='./images/sugar-mamas.png')

					div.appTile-body
						h4.appTile-title.text-center Putting Sugar Into Perspective
						button(type="button", onclick="window.open('https://sugar-mamas.herokuapp.com/', '_blank');").btn.btn-success.btn-block Launch App

					div.appTile-footer
						span.label.label-primary.appTile-footer-label API
						span.label.label-primary.appTile-footer-label AJAX
						span.label.label-primary.appTile-footer-label Firebase
						span.label.label-primary.appTile-footer-label jQuery
						span.label.label-primary.appTile-footer-label JavaScript
						span.label.label-primary.appTile-footer-label Bootstrap
						span.label.label-primary.appTile-footer-label CSS
						span.label.label-primary.appTile-footer-label HTML
