extends layout

block content

	.container
		.row
			.col-md-12.text-center
				h2 under construction

	.container.tileContainer
		.row
			div.col-lg-3.col-md-4.col-sm-6.col-xs-12.appTile-container
				div.appTile
					p Have some fun with a Family Guy Trivia Game!

						div.appTile-footer
							div.appTile-productionLinks-container
								div.appTile-productionLinks-link
									button(type="button" href="https://family-guy-trivia.herokuapp.com/").btn.appTile-btn.appTile-btn--ticketPrice Play!

						div.appTile-greyFill
						p.appTile-footer-performanceType(strong) Languages used:
						p.appTile-footer-performanceType(strong) technology focus
